<html>
<head>
<style>
    .text_game{
        color: coral;
        font-size: 30pt;
    }
</style>

</head>
<body>
<div>Bienvenu dans le jeu de la Pizza!</div>
<form action="http://localhost:5000/menu/pizza">
    <input type="submit" value="Commencer le jeu" />
</form>
<form action="http://localhost:5000/menu/add-pizza">
    <input type="submit" value="Ajouter une recette de pizza" />
</form>
<div><br></div>
<div>Règles du jeu : <br>
    Le but du projet est d’implémenter un jeu de simulation d’une pizzeria.<br>
    Dans ce jeu, l’utilisateur doit réaliser des commandes de pizzas en utilisant une quantité d’ingrédients prédéfinis. Ces commandes contiennent un certain nombre de
    pizzas hawaïennes et de pizzas rucolas.<br>
    Une fois réalisées, les pizzas doivent être cuites au four pendant 30 secondes. <br>
    Attention, le four ne peut contenir que 3 pizzas et les pizzas ne peuvent être ni ajoutées
    ni retirées pendant la cuisson.<br>
    La partie se déroule en un temps limité au bout duquel le score du joueur est calculé suivant la règle :<br>
    Base de pizza restante : -4 points<br>
    Ingrédient restant : -1 point<br>
    Part de pizza terminée : 10 points<br>
    Seules les commandes complètes rapportent des points<br>
</div>


</body>
</html>